- burnable:
    name: '可燃ごみ'
    wday: [3, 6]
    emoticon: ':fire:'
- unburnable:
    name: '不燃ごみ'
    wday: [4]
    nth:  [2, 4]
    emoticon: ':put_litter_in_its_place:'
- recyclable:
    name: '資源'
    wday: [5]
    emoticon: ':recycle:'
